<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Crowd Funding</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active btn btn-danger m-2" (click)="adminPage()" aria-current="page">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn btn-success m-2" (click)="contributorPage()">Contributor</a>
                </li>
            </ul>
        </div>
    </div>
</nav>