<h1>{{account}}</h1>

<form (ngSubmit)="createCampaign(form.value)" #form="ngForm">
    <div class="row mb-3">
        <label for="inputTarget" class="col-sm-2 col-form-label">Target Fund</label>
        <div class="col-sm-6">
            <input ngModel type="text" class="form-control" id="inputTarget" name="target">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputDeadline" class="col-sm-2 col-form-label">Deadline (in minutes)</label>
        <div class="col-sm-6">
            <input ngModel type="text" class="form-control" id="inputDeadline" name="deadline">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputReceipent" class="col-sm-2 col-form-label">Receipent Address</label>
        <div class="col-sm-6">
            <input ngModel type="text" class="form-control" id="inputReceipent" name="receipent">
        </div>
    </div>

    <div class="row mb-3">

        <label for="inputReceipent" class="col-sm-2 col-form-label">Campaign Description</label>
        <textarea ngModel class="form-control col-sm-6" id="inputReceipent" rows="3" name="description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>